.errorIn {
  color: red;
  background: rgb(255, 168, 168);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  animation: fadeIn 0.5s ease-in both;
}

.errorOut {
  color: red;
  background: rgb(255, 168, 168);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  animation: fadeOut 0.5s ease-in both;
}

.successIn {
  color: green;
  background: rgb(168, 255, 183);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  animation: fadeIn 0.5s ease-in both;
}

.successOut {
  color: green;
  background: rgb(168, 255, 183);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  animation: fadeOut 0.5s ease-in both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  } to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  } to {
      opacity: 0;
  }
}

